### Khởi tại DataFrame và truy xuất dữ liệu

![image](./images/demo.png)

DataFrame là API để giúp ta làm việc hiệu quả hơn với dữ liệu bảng.

Vậy làm sao chúng ta có thể tạo ra được một **DataFrame**

#### 1. Tạo một DataFrame

In [6]:
import numpy as np

Khởi tạo một array 2 chiều với data tương ứng như trên hình

In [22]:
data = np.array([[3, 0], [2, 3], [0, 7], [1,2]])

In [23]:
import pandas as pd

Đặt tên cho các dòng của bảng

In [24]:
rowsNames = [0, 1, 2, 5]

Đặt tên cho các cột của bảng

In [25]:
columnsNames = ["apples", "oranges",]

Tạo bảng

In [26]:
dataFrame = pd.DataFrame(data, rowsNames, columnsNames)

In [27]:
dataFrame

   apples  oranges
0       3        0
1       2        3
2       0        7
5       1        2

Kiểm tra type của biến

In [28]:
type(dataFrame)

pandas.core.frame.DataFrame

##### Chú ý

Một lần nữa mình muốn nhắc lại là DataFrame là được kết hợp bởi rất nhiều cột Series

Kiểm tra chiều của bảng

In [29]:
dataFrame.shape # Chúng ta có 4 hàng và 4 cột

(4, 2)

#### 2. Truy cập vào một hàng

##### 2.1 Dựa vào tên của hàng

.loc() thể hiện là location - tên hàng ta cần truy cập. \
Ta truy cập dựa bằng hàm .loc() theo **tên** của hàng không phải theo chỉ mục (index) \

Truy cập vào hàng đầu tiên có tên là 0

In [30]:
dataFrame.loc[0]

apples     3
oranges    0
Name: 0, dtype: int32

Các tên cột giờ đã trở thành tên các hàng \
Hàm này trả về một series

In [31]:
type(dataFrame.loc[0])

pandas.core.series.Series

Truy cập vào hàng cuối cùng có tên là 5

Cách này tương tự nếu bạn đã quen sử dụng Dictionary trong Python

In [32]:
dataFrame.loc[5]

apples     1
oranges    2
Name: 5, dtype: int32

In [33]:
# Nếu truy cập vào hàng có tên 3 -> báo lỗi vì không tồn tại hàng này
# dataFrame.loc[3] -> lỗi

#### 2.2 Dựa vào vị trí của hàng

.iloc() thể hiện là index location -> **chỉ mục** của hàng đó \
Hàm iloc trả về một series

In [34]:
dataFrame

   apples  oranges
0       3        0
1       2        3
2       0        7
5       1        2

Truy cập vào hàng đầu tiên

![2](./images/2-1.png)

In [35]:
dataFrame.iloc[0]

apples     3
oranges    0
Name: 0, dtype: int32

Truy cập vào hàng thứ 3 có chỉ mục bằng 2

![4](./images/4.png)

In [36]:
dataFrame.iloc[2]

apples     0
oranges    7
Name: 2, dtype: int32

Truy cập vào hàng cuối cùng có chỉ mục là 3 hoặc -1

![2](./images/2.png)

In [37]:
dataFrame.iloc[-1]

apples     1
oranges    2
Name: 5, dtype: int32

Tương tự có thể viết:

In [38]:
dataFrame.iloc[3]

apples     1
oranges    2
Name: 5, dtype: int32

#### 3. Truy cập vào một cột

#### 3.1 Dựa vào tên của cột

- Truy cập vào một cột cũng chính là truy cập vào một series. 
- Ta truy cập dựa trên tên của cột đã đặt sẵn.

Truy cập vào cột oranges

![5](./images/5.png)

In [42]:
dataFrame["apples"]

0    3
1    2
2    0
5    1
Name: apples, dtype: int32

Truy cập vào cột apples

![6](./images/6.png)

In [43]:
dataFrame["oranges"]

0    0
1    3
2    7
5    2
Name: oranges, dtype: int32

Nếu tên cột chưa tồn tại hàm sẽ báo lỗi

In [44]:
# dataFrame["coconut"] -> lỗi

In [45]:
type(dataFrame["apples"])

pandas.core.series.Series

Dựa vào hàm type() chúng ta có thể xác nhận lại rằng từng cột của dataFrame chính là một series

##### Một cách viết tương tự để truy cập vào các cột

In [46]:
dataFrame.apples

0    3
1    2
2    0
5    1
Name: apples, dtype: int32

In [47]:
dataFrame.oranges

0    0
1    3
2    7
5    2
Name: oranges, dtype: int32

#### 3.2 Dựa vào vị trí của cột

In [48]:
dataFrame

   apples  oranges
0       3        0
1       2        3
2       0        7
5       1        2

Ta dùng cách chọn tất cả các dòng ở cột số 2 có chỉ mục bằng 1

![5](./images/5.png)

In [49]:
dataFrame.iloc[:, 1]

0    0
1    3
2    7
5    2
Name: oranges, dtype: int32

Vị trí đầu tiên có ký hiệu : ám chỉ lấy tất cả các dòng, vị trí thứ 2 ám chỉ ở cột tương ứng

Tương tự với

In [50]:
dataFrame.iloc[:, -1]

0    0
1    3
2    7
5    2
Name: oranges, dtype: int32

#### 4. Truy cập vào một phần tử

##### 4.1 Dựa vào tên của hàng và cột

In [51]:
dataFrame

   apples  oranges
0       3        0
1       2        3
2       0        7
5       1        2

![7](./images/7.png)

In [52]:
dataFrame.loc[5]['oranges']

2

Phần tử ở dòng tên 5 và cột tên "orange" có giá trị là 2

#### 4.2 Dựa vào chỉ mục của hàng và cột

![7](./images/7.png)

Tương tự như trên thì phần tử này nằm ở hàng 4 (có chỉ mục là 3) và ở cột 2 (có chỉ mục là 1)

Cho nên truy cập qua chỉ mục sẽ tương đương

In [53]:
dataFrame.iloc[3][1]

2

#### 5. Truy cập vào một khu vực

##### 5.1 Dựa vào tên của hàng và cột

In [54]:
dataFrame

   apples  oranges
0       3        0
1       2        3
2       0        7
5       1        2

Truy cập khu vực bao gồm 2 hàng có tên 1 và 2 và 2 cột "apples" và "oranges", cho nên sẽ có 4 phần tử

![8](./images/8.png)

In [55]:
dataFrame.loc[[1, 2], ["apples", "oranges"]]

   apples  oranges
1       2        3
2       0        7

Truy cập khu vực bao gồm 2 hàng có tên 1 và 5 và duy nhất một cột "apples" cho nên sẽ có 2 phần tử

![10](./images/10.png)

In [56]:
dataFrame.loc[[1,5], ["apples"]]

   apples
1       2
5       1

Truy cập khu vực bao gồm tất cả các hàng từ hàng tên 1 đến hàng tên 5 và duy nhất một cột apples cho nên sẽ có 3 phần tử

![11](./images/11.png)

In [57]:
dataFrame.loc[1:5, ["apples"]]

   apples
1       2
2       0
5       1

##### 5.2 Dựa vào chỉ mục của hàng và cột

In [58]:
dataFrame

   apples  oranges
0       3        0
1       2        3
2       0        7
5       1        2

Truy cập vào hàng đầu tiên (có chỉ mục 0) với tất cả các phần tử từ cột số 1 (có chỉ mục 0) và cột số 2 (có chỉ mục 1), cho nên sẽ có 2 phần tử

In [59]:
dataFrame.iloc[0, 0:2]

apples     3
oranges    0
Name: 0, dtype: int32

Truy cập vào 2 hàng cuối cùng với phần tử chỉ nằm trong cột số 2 (có chỉ mục là 1), cho nên sẽ có 2 phần tử

In [60]:
dataFrame.iloc[2:, 1]

2    7
5    2
Name: oranges, dtype: int32

Tương tự có thể viết

In [61]:
dataFrame.iloc[-2:, 1]

2    7
5    2
Name: oranges, dtype: int32

Truy cập vào phần tử trong hàng số 1(có chỉ mục 0) hàng số 4 (có chỉ mục 3) cùng cột số 2 (chỉ mục 1) và 2 cột số 1 (chỉ mục 0)

In [62]:
dataFrame.iloc[[0, 3], [1, 0]]

   oranges  apples
0        0       3
5        2       1

Vì Cột 2 (chỉ mục 1) được đưa lên trước lên cột **oranges** sẽ xuất hiện trước